# Frontend Environment Variables

# API de Juegos y Usuarios (Vercel)
VITE_API_URL=https://hakey-api-catalogo.vercel.app/api

# API de Emails (local o servidor)
VITE_EMAIL_API_URL=http://localhost:5000/api
